@font-face { 
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Roboto-Regular.ttf'); } 
@font-face { 
	font-family: 'Roboto';
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Roboto-Bold.ttf'); }

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

#mainContainer {
	display: block;
	padding: 20px;
	clear: both;
	margin: 10px auto;
}

h1 {
	font-size: 1.5em;
	border-bottom: 1px solid #dcb600;
	padding-bottom: 3px;
}

.w-25, .w-50, .w-75, .w-100, .w-150, .w-200, .w-300, .w-400, .w-500 {
	display: inline-block;
}

.w-25 {
	width: 25px;
}

.w-50 {
	width: 50px;
}

.w-75 {
	width: 75px;
}

.w-100 {
	width: 100px;
}

.w-150 {
	width: 150px;
}

.w-200 {
	width: 200px;
}

.w-300 {
	width: 300px;
}

.w-400 {
	width: 400px;
}

.w-500 {
	width: 500px;
}

.d-flex {
	display: flex;
}

.d-flex-inline {
	display: inline-flex;
}

.flex-column {
	flex-direction: column;
}

.head {
	font-weight: bold;
}

.line:hover {
	opacity: 0.5;
}

.head, .line {
	display: block;
	width: fit-content;
	padding: 3px;
	overflow: visible;
}

input[type="checkbox"] {
	z-index: 2;
}

label {
	width: 150px;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-top: 5px;
	border: 1px solid transparent !important;
	cursor: pointer;
	text-decoration: none;
}

a.btn {
	border-color: #000 !important;
}

.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none;
}

a:focus, a:hover {
	color: #23527c;
	text-decoration: underline;
}

.ident {
	width: 10px;
}

.text-center {
	text-align: center;
}

.mb-3 {
	margin-bottom: 1rem;
}

/*-------------   Menu --------------- */
body {
	margin: 0;
	padding: 0;
}

#toolbar {
	background-color: #000;
	color: #ffffff;
	padding: 0px 20px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

#mainMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

span.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

div#header {
	background-color: #000;
}

#mainMenu a {
	color: white;
	text-decoration: none;
}

#mainMenu li {
	background-color: #000000;
	min-width: 160px;
	margin: 0px 5px;
	padding: 10px 15px;
}

#mainMenu .mnuLvl0 li {
	float: left;
	text-align: center;
}

#mainMenu .mnuLvl1 li {
	float: none;
	text-align: left;
}

#mainMenu li ul {
	display: none;
	position: absolute;
	padding: 12px 16px;
	margin: 0px;
	z-index: 1;
}

#mainMenu li.selected:hover {
	background-color: #990000
}

#mainMenu li.selected {
	background-color: #660000
}

#mainMenu li:hover {
	background-color: #990000
}

#mainMenu .mnuLvl0 li:hover ul {
	display: block;
}

/*-------------   Menu Editor --------------- */
#mnuEditor span.PopupInfo {
	display: none; position: absolute;z-index: 1;
	text-decoration: none;color: black;	
    padding: 12px 16px; margin: 0px;    
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    top: 0px; left: 0px; width: 400px; 
    background-color: #fff;
}
#mnuEditor span.PopupInfo b {width: 100px;display: inline-block;}
#mnuEditor a, #mnuEditor .nodename {position: relative;}
#mnuEditor a:hover span.PopupInfo, #mnuEditor .nodename:hover span.PopupInfo {display: block;}
#mnuEditor .nodeOpc form {display: inline-block;margin: 0px;vertical-align: bottom;}
#mnuEditor .nodeOpc a {font-size: 12px;margin-right: 5px;}

#mnuEditor .nodeOpc button.btn, #mnuEditor .nodeOpc a {
    background-repeat: no-repeat; background-size: auto;
    border: none;
    width: 23px; height: 19px;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
    margin: 0px;
}

#mnuEditor .nodeOpc {vertical-align: bottom;display: inline-block;}
#mnuEditor .nodeOpc a {display:inline-block;}
#mnuEditor .nodeOpc a.edit  {background-image: url(../img/solid_pen.svg);}
#mnuEditor .nodeOpc a.delete  {background-image: url(../img/trash.svg);}

#mnuEditor .nodeOpc button.btn.enable {background-image: url(../img/toggle-off.svg);}
#mnuEditor .nodeOpc button.btn.disable {background-image: url(../img/toggle-on.svg);}
#mnuEditor .nodeOpc button.btn.orderCgh.up {background-image: url(../img/arrow_up.svg);}
#mnuEditor .nodeOpc button.btn.orderCgh.down {background-image: url(../img/arrow_down.svg);}


span.efective {border:  1px solid;width: 90px;display: inline-block;text-align: center;}
.header span.efective {display: contents;}
.pluginNode:hover, .menuNode:hover {  background-color: aliceblue;}
.menuNode.disabled span {color: #deb887;font-size: 12px;}

span.nodeName {display: inline-block;width: 550px;vertical-align: bottom;}
span.pluginPerm {float: right;width: 250px;margin-right: 50px;}
.menuNode:not(:first-child) {border-top: 1px solid #50cff5;margin-top: 2px;padding-top: 3px;}
.menuNode, .pluginNode {padding: 1px;}
#mnuEditor .NoEditable {color: #8d8d8d;}

p.warning, p.info, p.error, p.success {
	border: 1px solid #ccc;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px 16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	}
	
p.warning {color: #000; background-color: #ffffcc;}
p.info { color: #000; background-color: #ddffff;}
p.error { color: #fff; background-color: #f44336;}
p.success { color: #000; background-color: #ddffdd;}

dlight {color: #bbbbbb;}
hlight {color: #c37e00;}

span.permCombo, span.NoEditable {display: inline-block;width: 150px;}
span.nodeId {display: inline-block;width: 200px;color: #3e00fd;font-weight: bolder;vertical-align: bottom;}
span.permissionGroup {display: inline-block;width: 500px;vertical-align: top;}
span.permissionGroup a{text-decoration:none;color: #000;font-weight: bold;font-size: 14px;}
span.permissionGroup a span.groups {color: #a5abc5;}
span.permissionGroup a:hover {color: #1a5be9;}

div#mnuEditor , .adminFrame {padding: 30px;box-shadow: 0 0 10px rgb(0 0 0 / 13%);border-radius: 10px;display: inline-block;}